{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content2 %}
<!-- Second content block for the home page -->
<div class="wrapper2">
    <div class="no-wrapper">
        {% if remaining_time and remaining_time.total_seconds() > 0 %}
            <!-- Display remaining time if there is a restriction -->
            <p style="color: orange;">
                You can upload again in
                {{ remaining_time.seconds // 3600 }} hours,
                {{ (remaining_time.seconds % 3600) // 60 }} minutes, and
                {{ remaining_time.seconds % 60 }} seconds.
            </p>
        {% endif %}

        {% if success %}
            <!-- Display success message and provide a link to download the uploaded file -->
            <p style="color: green;">{{ success }}</p>
            <p>Download your file: <a href="{{ url_for('views.download_file', filename=filename) }}">{{ filename }}</a></p>
        {% elif error %}
            <!-- Display error message if there is an issue with the upload -->
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <!-- Form for uploading files with file input and submit button -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".docx">
            <!-- Disable the upload button if there is a remaining time restriction -->
            <input type="submit" value="Upload" {% if remaining_time and remaining_time.total_seconds() > 0 %}disabled{% endif %}>
        </form>
    </div>
</div>
{% endblock %}
